body {
    background-color: #def7f8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.avatar {
    height: 200px;
}

.header__title {
    font-size: 25px;
}

.header__subtitle {
    color: #456868;
}

main {
    border: 1px solid #456868;
    text-align: center;
}

.skills ol{
    list-style: none;
    text-align: left;
}

.hobbies ol {
    list-style: none;
    text-align: left;
}

.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(156, 156, 254);
}

.video {
    width: 690px;
    height: 400px;
}

.ed__table {
    border-collapse: collapse;
    width: 100%;
}

.ed__table th, td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 32px;
}

.form {
    width: 400px;
    margin: 0 auto;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    height: 100px;
    background-color: #96bdbf;
}

.contacts__link {
    text-decoration: none;
    color: rgb(27, 38, 38);
}


